@import "../Components/AnimationChecked";
@import "../Components/Animation_Appear";
section {
    .Section_Menu {
        padding: 1rem;
        position: relative;
        margin-top: -7rem;
        background-color: $blanc-cassé;
        border-radius: 2.5rem 2.5rem 0 0;
    }
    .Section_Titre {
        padding: 1rem 1rem 1rem 0;
        max-width: 100%;
        position: relative;
        i {
            top: 1.3rem;
            right: 1rem;
        }
    }
    ul {
        .Title {
            margin: 1rem 0;
            font-size: 1.4rem;
            text-transform: uppercase;
            font-weight: 400;
            position: relative;
            &::after {
                content: "";
                background-color: $vert;
                width: 3rem;
                height: 0.2rem;
                position: absolute;
                bottom: -0.3rem;
                left: 0;
            }
        }
        .Menu {
            border: 0px solid transparent;
            background-color: white;
            @include box-shadow;
            @include border-radiusM;
            margin: 5% 0;
            @include space-between;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            
            .Menu-Card {
                width: 100%;
                padding: 2%;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }
            .Menu-Card_Detail {
                width: 100%;
                @include space-between;
            }
            .Menu_Text {
                margin: 0;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }
            .Price {
                font-weight: 700;
            }
        }
    }
}