@import "../Components/Checked";
section {
    .Section_Menu {
        padding: 1rem;
        margin-top: -2rem;
        position: relative;
        background-color: $blanc-cassé;
        border-radius: 2.5rem 2.5rem 0 0;
    }
    .Section_Titre {
        padding: 1rem 0;
        max-width: 100%;
        position: relative;
        i {
            top: 1.3rem;
            right: 1rem;
        }
    }
    .Section_Menu--ul {
        display: grid;
        grid-template-columns: 1fr;
        @media (min-width: 1000px) {
            grid-template-columns: repeat(3, 1fr);
        }
    }
    ul {
        .Title {
            margin: 1rem 0;
            font-size: 1.4rem;
            text-transform: uppercase;
            font-weight: 400;
            position: relative;
            @media (min-width: 1000px) {
                margin-left: 1.2rem;
            }
            &::after {
                content: "";
                background-color: $vert;
                width: 3rem;
                height: 0.2rem;
                position: absolute;
                bottom: -0.3rem;
                left: 0;
            }
        }
        .Menu {
            border: 0px solid transparent;
            background-color: white;
            @include box-shadow;
            @include border-radiusM;
            margin: 5% 0;
            @include space-between;
            flex-direction: row;
            @media (min-width: 1000px) {
                margin: 3%;
            }
            .Menu-Card {
                width: 100%;
            padding: 2%;
            }
            .Menu-Card_Detail {
                width: 100%;
                display: flex;
                justify-content: space-between;
            }
            .Price {
                font-weight: 700;
            }
        }
    }
}