header {
    height: 2rem;
    @include flex-start;
    flex-direction: row;
    padding: 1rem;
    gap: 25%;
    .fa-arrow-left {
        font-size: 1.4rem;
        font-weight: bold;
        margin: 3%;
    }
    .Logo {
        width: 70%;
    }
}