header {
    @include flex-start;
    flex-direction: row;
    gap: 25%;
    .fa-arrow-left {
        font-size: 1.5rem;
        font-weight: bold;
        margin: 3%;
    }
    .Logo {
        width: 35%;
    }
}