body {
  font-family: "Roboto", sans-serif;
}
body h1 {
  font-family: "Shrikhand", "cursive";
  font-size: 2rem;
  margin: 0;
}
body h2 {
  margin: 0;
  font-size: 1.2rem;
  font-weight: lighter;
  text-transform: uppercase;
}
body h3 {
  font-size: 1.3rem;
  font-weight: lighter;
}
body strong {
  font-weight: bolder;
  font-size: 1.3rem;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
  padding: 0;
  line-height: 2em;
}

.Bloc_Bouton {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Bouton {
  display: grid;
  place-items: center;
  width: 12rem;
  height: 50px;
  border: 0;
  margin: 3%;
  border-radius: 25px 25px 25px 25px;
  box-shadow: 0px 6px 10px -3px rgb(196, 194, 194);
  font-size: 100%;
  color: white;
  background: linear-gradient(#FF79DA, #9356DC);
}
.Bouton:hover {
  cursor: pointer;
  opacity: 0.7;
  box-shadow: 0px 6px 15px 2px rgba(37, 37, 37, 0.418);
}

section .Section_Titre .fa-heart {
  font-size: 2rem;
  position: absolute;
  bottom: 1.5rem;
  right: 2rem;
}
section .Section_Titre .fa-solid {
  opacity: 0;
  cursor: pointer;
  transition: all 0.4s ease-out;
}
section .Section_Titre .fa-solid:active {
  opacity: 1;
  background: linear-gradient(to bottom, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  background-clip: -webkit-linear-gradient(to bottom, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

html, body {
  max-width: 100%;
  height: 100%;
  margin: 0;
}
html main, body main {
  display: block;
  max-width: 1500px;
  margin: auto;
}

header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  gap: 25%;
}
header .fa-arrow-left {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 3%;
}
header .Logo {
  width: 35%;
}

.Menu-Card_Confirm {
  width: 20%;
  height: 5.3rem;
  background-color: #99E2D0;
  border-radius: 0 20px 20px 0;
  margin-right: -5.5rem;
  margin-left: 2rem;
}
.Menu-Card_Confirm .fa-solid {
  height: 100%;
  font-size: 1.8rem;
  display: grid;
  place-items: center;
  color: rgb(246, 246, 246);
}

.Menu:hover .Menu-Card_Confirm {
  margin-right: 0;
  cursor: pointer;
  transition-duration: 0.6s;
}
.Menu:hover .fa-solid {
  -webkit-animation: rotate-spin 0.6s;
          animation: rotate-spin 0.6s;
}
@-webkit-keyframes rotate-spin {
  0% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(0);
  }
}
@keyframes rotate-spin {
  0% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(0);
  }
}

section .Section_Menu {
  padding: 1rem;
  margin-top: -2rem;
  position: relative;
  background-color: rgb(246, 246, 246);
  border-radius: 2.5rem 2.5rem 0 0;
}
section .Section_Titre {
  padding: 1rem 0;
  max-width: 100%;
  position: relative;
}
section .Section_Titre i {
  top: 1.3rem;
  right: 1rem;
}
@media (min-width: 1000px) {
  section .Section_Menu--ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
section ul .Title {
  margin: 1rem 0;
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 400;
  position: relative;
}
@media (min-width: 1000px) {
  section ul .Title {
    margin-left: 1.2rem;
  }
}
section ul .Title::after {
  content: "";
  background-color: #99E2D0;
  width: 3rem;
  height: 0.2rem;
  position: absolute;
  bottom: -0.3rem;
  left: 0;
}
section ul .Menu {
  border: 0px solid transparent;
  background-color: white;
  box-shadow: 0px 6px 10px -3px rgb(196, 194, 194);
  border-radius: 1.3rem;
  margin: 5% 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
@media (min-width: 1000px) {
  section ul .Menu {
    margin: 3%;
  }
}
section ul .Menu .Menu-Card {
  width: 100%;
  padding: 2%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
section ul .Menu .Menu-Card_Detail {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
section ul .Menu .Menu_Text {
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
section ul .Menu .Price {
  font-weight: 700;
}

footer {
  max-width: 100%;
  height: 200px;
  padding: 2rem;
  background-color: rgb(53, 53, 53);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: white;
}
@media (min-width: 1000px) {
  footer {
    justify-content: center;
  }
}
footer h3 {
  font-family: "Shrikhand", "cursive";
  font-weight: lighter;
}
@media (min-width: 1000px) {
  footer ul {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    -moz-column-gap: 2.8rem;
         column-gap: 2.8rem;
  }
}
@media (min-width: 1000px) {
  footer .footer__List {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-left: 30%;
    margin-right: 30%;
  }
}

main .Image_Background {
  width: 100%;
  height: 50vh;
  display: block;
  box-sizing: border-box;
  -o-object-fit: cover;
     object-fit: cover;
}/*# sourceMappingURL=Menus.css.map */