@import "./Sass/Utils/Variables";
@import "./Sass/Utils/Mixin";
@import "./Sass/Base/Police";
@import "./Sass/Base/StyleLiens";
@import "./Sass/Base/StylesList.scss";
@import "./Sass/Components/buttons";
@import "./Sass/Components/Heart";
@import "./Sass/Layout/BodyMain";
@import "./Sass/Layout/TitleM";
@import "./Sass/Layout/Footer";

main {
    .Image_Background {
        width: 100%;
        height: 50vh;
        display: block;
        box-sizing: border-box;
        object-fit: cover;
    }
}
section {
    .Section_Menu {
        padding: 1rem;
        margin-top: -2rem;
        position: relative;
        background-color: $blanc-cassé;
        border-radius: 2.5rem 2.5rem 0 0;
    }
    .Section_Titre {
        padding: 1rem 0;
        max-width: 100%;
        position: relative;
        i {
            top: 1.3rem;
            right: 1rem;
        }
    }
    .Section_Menu--ul {
        display: grid;
        grid-template-columns: 1fr;
        @media (min-width: 1000px) {
            grid-template-columns: repeat(3, 1fr);
        }
    }
    ul {
        .Title {
            margin: 1rem 0;
            font-size: 1.4rem;
            text-transform: uppercase;
            font-weight: 400;
            position: relative;
            @media (min-width: 1000px) {
                margin-left: 1.2rem;
            }
            &::after {
                content: "";
                background-color: $vert;
                width: 3rem;
                height: 0.2rem;
                position: absolute;
                bottom: -0.3rem;
                left: 0;
            }
        }
        .Menu-Card {
            border: 1px solid transparent;
            background-color: white;
            @include box-shadow;
            @include border-radiusM;
            padding: 2%;
            margin: 5% 0;
            @media (min-width: 1000px) {
                margin: 3%;
            }
            div {
                @include space-between;
            }
            .Price {
                font-weight: 700;
            }
        }
    }
}