@media (min-width: 992px) {
  #Header_Menu {
    height: 4rem !important;
    gap: 35% !important;
  }
  #Header_Menu .Logo {
    width: 25% !important;
  }
  footer {
    justify-content: center !important;
  }
  footer ul {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    -moz-column-gap: 2.8rem;
         column-gap: 2.8rem;
  }
  footer .footer__List {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-left: 30%;
    margin-right: 30%;
  }
  section ul {
    margin-left: 1.2rem;
  }
  section .Menu {
    margin: 3%;
  }
  section .Section_Menu--ul {
    display: grid;
    grid-template-columns: repeat(3, 33%);
  }
  section .Section_Menu {
    margin-top: -4rem !important;
  }
}
@media (min-width: 540px) {
  .Menu {
    max-width: 490px !important;
  }
}
body {
  font-family: "Roboto", sans-serif;
}
body h1 {
  font-family: "Shrikhand", "cursive";
  font-size: 2rem;
  font-weight: 500;
  margin: 0;
  padding: 0 5rem 0 0;
}
body h2 {
  margin: 0;
  font-size: 1.2rem;
  font-weight: lighter;
  text-transform: uppercase;
}
body h3 {
  font-size: 1.3rem;
  font-weight: lighter;
}
body strong {
  font-weight: bolder;
  font-size: 1.3rem;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
  padding: 0;
  line-height: 2em;
}

main .Image_Background {
  width: 100%;
  height: 50vh;
  display: block;
  box-sizing: border-box;
  -o-object-fit: cover;
     object-fit: cover;
}

.Bloc_Bouton {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Bouton {
  display: grid;
  place-items: center;
  width: 12rem;
  height: 50px;
  border: 0;
  margin: 3%;
  border-radius: 25px 25px 25px 25px;
  box-shadow: 0px 6px 10px -3px rgb(196, 194, 194);
  font-size: 100%;
  color: white;
  background: linear-gradient(#FF79DA, #9356DC);
}
.Bouton:hover {
  cursor: pointer;
  opacity: 0.7;
  box-shadow: 0px 6px 15px 2px rgba(37, 37, 37, 0.418);
}

section .Section_Titre .fa-heart {
  font-size: 2rem;
  position: absolute;
  bottom: 1.5rem;
  right: 2rem;
}
section .Section_Titre .fa-solid {
  opacity: 0;
  cursor: pointer;
  transition: all 0.4s ease-out;
}
section .Section_Titre .fa-solid:active {
  opacity: 1;
  background: linear-gradient(to bottom, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  background-clip: -webkit-linear-gradient(to bottom, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (min-width: 1000px) {
  section .Section_Titre .fa-solid:hover {
    opacity: 1;
    background: linear-gradient(to bottom, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
    background-clip: -webkit-linear-gradient(to bottom, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

html, body {
  max-width: 100%;
  height: 100%;
  margin: 0;
}
html main, body main {
  display: block;
  max-width: 1500px;
  margin: auto;
}

header {
  height: 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  padding: 1rem;
  gap: 25%;
}
header .fa-arrow-left {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 3%;
}
header .Logo {
  width: 35%;
}

.Menu-Card_Confirm {
  width: 20%;
  height: 5.3rem;
  background-color: #99E2D0;
  border-radius: 0 20px 20px 0;
  margin-right: -5.5rem;
  margin-left: 2rem;
}
.Menu-Card_Confirm .fa-solid {
  height: 100%;
  font-size: 1.8rem;
  display: grid;
  place-items: center;
  color: rgb(246, 246, 246);
}

.Menu:active .Menu-Card_Confirm {
  margin-right: 0;
  transition-duration: 0.6s;
}
.Menu:active .fa-solid {
  -webkit-animation: rotate-spin 0.6s;
          animation: rotate-spin 0.6s;
}
@-webkit-keyframes rotate-spin {
  0% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(0);
  }
}
@keyframes rotate-spin {
  0% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(0);
  }
}

@media (min-width: 992px) {
  .Menu:hover .Menu-Card_Confirm {
    margin-right: 0;
    transition-duration: 0.6s;
  }
  .Menu:hover .fa-solid {
    -webkit-animation: rotate-spin 0.6s;
            animation: rotate-spin 0.6s;
  }
  @-webkit-keyframes rotate-spin {
    0% {
      transform: rotate(-270deg);
    }
    100% {
      transform: rotate(0);
    }
  }
  @keyframes rotate-spin {
    0% {
      transform: rotate(-270deg);
    }
    100% {
      transform: rotate(0);
    }
  }
}

.Menu {
  -webkit-animation: appear 1s ease-in 100ms;
          animation: appear 1s ease-in 100ms;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
.Menu:nth-child(1n) {
  -webkit-animation-delay: 100ms;
          animation-delay: 100ms;
}
.Menu:nth-child(2n) {
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
}
.Menu:nth-child(3n) {
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
}
.Menu:nth-child(4n) {
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
}
.Menu:nth-child(5n) {
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
}
.Menu:nth-child(6n) {
  -webkit-animation-delay: 600ms;
          animation-delay: 600ms;
}
.Menu:nth-child(7n) {
  -webkit-animation-delay: 700ms;
          animation-delay: 700ms;
}
.Menu:nth-child(8n) {
  -webkit-animation-delay: 800ms;
          animation-delay: 800ms;
}
.Menu:nth-child(9n) {
  -webkit-animation-delay: 900ms;
          animation-delay: 900ms;
}
.Menu:nth-child(10n) {
  -webkit-animation-delay: 1000ms;
          animation-delay: 1000ms;
}
@-webkit-keyframes appear {
  0% {
    transform: translatey(10%);
    opacity: 0;
  }
  100% {
    transform: translatey(0);
    opacity: 1;
  }
}
@keyframes appear {
  0% {
    transform: translatey(10%);
    opacity: 0;
  }
  100% {
    transform: translatey(0);
    opacity: 1;
  }
}

section .Section_Menu {
  padding: 1rem;
  position: relative;
  margin-top: -7rem;
  background-color: rgb(246, 246, 246);
  border-radius: 2.5rem 2.5rem 0 0;
}
section .Section_Titre {
  padding: 1rem 1rem 1rem 0;
  max-width: 100%;
  position: relative;
}
section .Section_Titre i {
  top: 1.3rem;
  right: 1rem;
}
section ul .Title {
  margin: 1rem 0;
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 400;
  position: relative;
}
section ul .Title::after {
  content: "";
  background-color: #99E2D0;
  width: 3rem;
  height: 0.2rem;
  position: absolute;
  bottom: -0.3rem;
  left: 0;
}
section ul .Menu {
  border: 0px solid transparent;
  background-color: white;
  box-shadow: 0px 6px 10px -3px rgb(196, 194, 194);
  border-radius: 1.3rem;
  margin: 5% 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;
}
section ul .Menu .Menu-Card {
  width: 100%;
  padding: 2%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
section ul .Menu .Menu-Card_Detail {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
section ul .Menu .Menu_Text {
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
section ul .Menu .Price {
  font-weight: 700;
}

footer {
  max-width: 100%;
  height: 200px;
  padding: 2rem;
  background-color: rgb(53, 53, 53);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: white;
}
footer h3 {
  font-family: "Shrikhand", "cursive";
  font-weight: lighter;
}/*# sourceMappingURL=Menus.css.map */