/*Page d'accueil*/
@import "./Sass/Utils/Variables";
@import "./Sass/Utils/Mixin";
@import "./Sass/Utils/MediaQueries";
@import "./Sass/Base/StyleLiens";
@import "./Sass/Base/StylesList.scss";
@import "./Sass/Layout/BodyMain";
@import "./Sass/Layout/Footer";
/*Général*/
body {
    font-family: 'Roboto', sans-serif;
    h1 {
        font-family: 'Shrikhand', "cursive";
        font-size: 2rem;
        margin: 0;
    }
    .Preloader {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: white;
        opacity: 0.9;
        z-index: 3;
        @include flex-center;
        flex-direction: column;
        animation: Preloader 300ms ease-in-out 3s forwards;
        @keyframes Preloader {
            0% {
                opacity: 1;
            }
            100% {
                opacity: 0;
                z-index: -1;
            }
        }
    }
    .loader {
        display: block;
        width: 100px;
        height: 100px;
        position: relative;
    &::before {
        content: "";
        width: 100px;
        height: 100px;
        position: absolute;
        border: 6px solid $vert;
        border-color: $violet $vert $rose $vert;
        border-radius: 50%;
        animation: loader 1.5s infinite ease-in-out;
        @keyframes loader {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
            }
        }
    }
    }
}
/*Header*/
header {
    @include flex-center;
    flex-flow: column wrap;
    .Logo {
        width: 35%;
        margin: 4%;
    }
    .Recherche {
        @include flex-center;
        width: 100%;
        height: 45px;
        gap: 1rem;
        background-color: $gris;
        border-top: solid 2px rgb(230,230,230);
        box-shadow: -1px 12px 5px 1px rgba(220, 220, 220, 0.137) inset;
        @media (max-width: 460px) {
            gap: 0.5rem;
        }
        &__Champ {
            max-width: 40%;
            border: 0;
            background-color: rgb(234,234,234);
            font-size: 1.1em;
            font-weight: bold;
            @media (max-width: 368px){
                font-size: 0.8em;
            }
        }
        i {
            font-size: large;
            padding-left: 3rem;
            @media (max-width: 460px){
                padding-left: 1rem;
            }
        }
    }
    .Background_header {
        width: 100%;
        padding-top: 2rem;
        padding-bottom: 3rem;
        background-color: $blanc-cassé;
    }
    .Titre {
        text-align: center;
        @include flex-center;
        flex-flow: column wrap;
        h2 {
            font-size: 1.8rem;
        }
        p {
            font-size: 1.1em;
        }
        .Bouton {
            @include grid-center;
            width: 260px;
            height: 50px;
            border: 0;
            @include border-radius;
            @include box-shadow;
            font-size: 100%;
            color: white;
            background: $graduant-rose-violet;
            &:hover {
                cursor: pointer;
                opacity: 0.7;
                transition-duration: 0.55s;
                box-shadow: 0px 6px 15px 2px rgba(37, 37, 37, 0.418);
            }
        }
    }
}

/*Nav*/
nav {
    padding: 5%;
    ol {
        display: flex;
        flex-flow: row wrap;
        flex-grow: 1;
        gap: 1rem;
        padding: 5%;
        counter-reset: Use;
        list-style-type: none;
        @media (min-width: 1000px){
            flex-flow: row nowrap;
        gap: 2.5rem;
        }
        li {
            @include flex-start;
            width: 100%;
            flex-direction: row;
            padding: 1.5rem 2rem;
            border: 1px transparent;
            @include border-radius;
            @include box-shadow;
            font-weight: 500;
            background-color: $blanc-cassé;
            @media (min-width: 1000px){
                width: 25%;
            }
            &::before {
                display: grid;
                place-items: center;
                counter-increment: Use;
                content: "" counter(Use);
                width: 1.5rem;
                height: 1.5rem;
                border-radius: 50%;
                background-color: $violet;
                color: white;
                position: relative;
                left: -2.8rem;
            }
            &:hover {
                background-color: $violet-clear;
                cursor: pointer;
            }
            .fa-store {
                color: #9356DC;
                background-color: $blanc-cassé;
            }
        }
        i {
            margin-right: 2rem;
            margin-left: -1rem;
            font-size: 1.2rem;
        }
    }
}
/*Restaurants*/
section {
    padding: 5%;
    background-color: $blanc-cassé;
    #Restaurants {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-flow: row wrap;
        @media (min-width: 1000px){
            align-items: center;
            justify-content: space-around;
            padding: 2%;
        }
        .Vignette {
            width: 100%;
            height: 241px;
            background-color: white;
            border-radius: 20px;
            box-shadow: 0px 6px 10px -3px rgb(196, 194, 194);
            margin-bottom: 5%;
            position: relative;
            @media (min-width: 1000px){
                width: 40%;
            }
            &__Image {
                object-fit: cover;
                border-radius: 15px 15px 0px 0px;
            }
            .Vignette__Image--Taille {
                width: 100%;
                height: 163px;
            }
            p {
                margin: 3%;
                line-height: 1.5em;
            }
        }
        .Badge::before {
            content: "Nouveau";
            width: 7rem;
            height: 2rem;
            font-weight: bold;
            border: 1px transparent;
            @include grid-center;
            background-color: $vert;
            color: $vert-darkest;
            position: absolute;
            top: 1rem;
            right: 1rem;
        }
        .fa-heart {
            font-size: 2rem;
                position: absolute;
                bottom: 1.5rem;
                right: 2rem;
        }
        .fa-solid {
            opacity: 0;
            cursor: pointer;
            transition: all 0.4s ease-out;
            &:hover {
                opacity: 1;
                @include heart;
            }
        }
    }
}


