body {
    font-family: 'Roboto', sans-serif;
    h1 {
        font-family: 'Shrikhand', "cursive";
        font-size: 2rem;
        margin: 0;
    }
    h2 {
        margin: 0;
        font-size: 1.2rem;
        font-weight: lighter;
        text-transform: uppercase;
    }
    h3 {
        font-size: 1.3rem;
        font-weight: lighter;
    }
    strong {
        font-weight: bolder;
        font-size: 1.3rem;
    }
}