body {
    font-family: 'Roboto', sans-serif;
    h1 {
        font-family: 'Shrikhand', "cursive";
        font-size: 1.8rem;
        margin: 0;
    }
    h2, h3 {
        margin: 0;
        font-size: 1.4rem;
    }
    strong {
        font-weight: bolder;
    }
}