@media (min-width: 992px) {
    #Header_Menu {
            height: 4rem !important;
            gap: 35% !important;
        }
    footer {
        justify-content: center !important;
        ul {
            display: flex;
            justify-content: space-around;
            flex-flow: row wrap;
            column-gap: 2.8rem;
        }
        .footer__List {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            margin-left: 30%;
            margin-right: 30%;
        }
    }
    section {
        ul {
            margin-left: 1.2rem; 
        }
        .Menu {
            margin: 3%;
        }
        .Section_Menu--ul {
            display: grid;
            grid-template-columns: repeat(3, 33%);
        }
    }
}
@media (min-width: 540px) {
    main {
        .Menu {
            max-width: 490px !important;
        }
        .Image_Background {
            height: 40vh !important;
            object-fit: cover !important;
        }
    }
}
    
    