@media (min-width: 1000px) {
    #Header_Menu {
            height: 4rem !important;
            gap: 35% !important;
            .Logo {
                width: 25% !important;
            }
        }
    footer {
        justify-content: center !important;
        ul {
            display: flex;
            justify-content: space-around;
            flex-flow: row wrap;
            column-gap: 2.8rem;
        }
        .footer__List {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            margin-left: 30%;
            margin-right: 30%;
        }
    }
    section {
        ul {
            margin-left: 1.2rem; 
        }
        .Menu {
            margin: 3%;
        }
        .Section_Menu--ul {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
        }
        .Section_Menu {
            margin-top: -4rem !important;
        }
    }
}
@media (min-width: 540px) {
    .Menu {
        max-width: 490px;
    }
}
    
    