@mixin box-shadow {
    box-shadow: 0px 6px 10px -3px rgb(196, 194, 194);
}
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin flex-start {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
@mixin flex-end {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
@mixin space-around {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
@mixin space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@mixin border-radius {
    border-radius: 25px 25px 25px 25px;
}
@mixin border-radiusM {
    border-radius: 1.3rem;
}
@mixin grid-center {
    display: grid;
    place-items: center;
}
@mixin heart {
    background: linear-gradient(to bottom, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
    background-clip: -webkit-linear-gradient(to bottom, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}