$violet: #9356DC;
$rose: #FF79DA;
$vert: #99E2D0;
$vert-darkest: rgb(0, 135, 102);
$gris: rgb(234,234,234);
$graduant-rose-violet: linear-gradient(#FF79DA, #9356DC);
$graduant-heart: linear-gradient(to top, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);